@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
     margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
body{
    background-image:url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
}
input[type=checkbox]{
    margin-bottom: 20px;
    cursor: pointer;

}
input[type=submit]{
    outline: none;
    background: rgb(153, 153, 146);
    width: 50%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;

}
input[type=text],input[type=email],input[type=file],input[type=password]{
    width: 50%;
    border: none;
    padding: 10px; 
    background:none;
    border-bottom: 2px solid rgb(124, 123, 123);
    margin-bottom:20px ;
    cursor: pointer;
}
input[type=text],input[type=email],input[type=file],input[type=password]{
    background: none;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 100vh;
}
.cont{
    position: relative;
    border-radius: 100px 0px 0px 100px;
    width: 55vw;
    height: 100vh;
    background: rgba(140, 140, 116, 0.5);
}

.img{
     width: 38%;
    position: relative;
    top: 6rem;
}
img{
    filter: invert(1);
    width : 470px;
}
.items{
    position: relative;
    height: 35rem;
    width: 35rem;
    margin: auto;
    top: 2rem ;
    text-align: center;

    /*after displa flax*/

    display: flex;
    flex-direction: column;
}

h1{
    font-size: 4rem;
    font-weight: 400;
}

a{  
    text-decoration: none;
    padding: 15px;
    background-color: rgb(153, 153, 146);
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    margin:20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.media-options {
    justify-content: space-evenly;
    display:flex;
}
.uil.uil-eye.showHidePw {
    cursor: pointer;
    position: relative;
    left: -3%;
  }
.uil.uil-eye-slash.showHidePw {
    cursor: pointer;
    position: relative;
    right: 17px;
  }
