@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
     margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image:url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
input {
    border: none;
    padding: 10px; 
    background:none;
    border-bottom: 2px solid rgb(124, 123, 123);
}
input:focus{
    background: none;
    outline: none;
}
section{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.cont{
    position: relative;
    background: rgba(140, 140, 116, 0.5);
    border-radius: 0px 100px 100px 0px;
    width: 50vw;
    height: 100vh;
}
h1{
    font-size: 4rem;
    font-weight: 400;
}
.items{
    position: relative;
    height: 20rem;
    width: 35rem;
    margin: auto;
    top: 2rem ;
    text-align: center;
}
.img {
    position: relative;
    right: 5%;
  }
  .uil.uil-eye.showHidePw {
    cursor: pointer;
    position: relative;
    left: -3%;
  }
.uil.uil-eye-slash.showHidePw {
    cursor: pointer;
    position: relative;
    right: 17px;
  }