@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
     margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
body{
    background-image:url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
input[type=checkbox]{
    margin-bottom: 25px;
    cursor: pointer;

}
input[type=submit]{
    background: rgb(153, 153, 146);
    width: 50%;
    outline: none; 
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15%;
    cursor: pointer;

}
input[type=email],input[type=password],input[type=text]{
    border: none;
    padding: 10px; 
    background:none;
    border-bottom: 2px solid rgb(124, 123, 123);
    width: 80%;
    margin-bottom: 10%;
}
input[type=email],input[type=password]{
    background: none;
    outline: none;
    margin-bottom: 10%;
    cursor: pointer;
}
section{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.cont{
    position: relative;
    background: rgba(140, 140, 116, 0.5);
    border-radius: 0px 100px 100px 0px;
    backdrop-filter: blur(3px);
    width: 40vw;
    height: 100vh;
}
h1{
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 25%;
}
.items{
    position: relative;
    height: 20rem;
    width: 20rem;
    margin: auto;
    top: 2rem ;
    text-align: center;
}
.img {
    position: relative;
    right: 5%;
  }
  a{  
    text-decoration: none;
    padding: 15px;
    background-color: rgb(153, 153, 146);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin:20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.uil.uil-eye.showHidePw {
    cursor: pointer;
    position: relative;
    left: -3%;
  }
.uil.uil-eye-slash.showHidePw {
    cursor: pointer;
    position: relative;
    right: 17px;
  }

